html, body{
    padding: 0;
    margin: 0;
    font-family: Mulish;
}

.add-recipe-left-side{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.main-title{
    font-family: Mulish;
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.subtitle{
    font-family: Mulish;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform:none;
}

.add-recipe-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.add-recipe-page-container{
    display: flex;
    flex-direction: column;
    margin: auto 16px;
    gap: 32px;
}

.add-recipe-form-right{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.add-recipe-page-photo-placeholder{
    display: flex;
    justify-content: center;
    min-width: 343px;
    width: 100%;
    min-height: 318px;
    height: 400px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    border: 1px dashed #BFBEBE;
    margin-top: 15px;
}

.name-of-recipe {
    font-family: Mulish;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.name-of-recipe label{
    display: block;
}

.field-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 4px 0;
    font-size: 14px;
    line-height: 1.4;
    background-color: transparent;
}

.name-of-recipe .field-input {
    border-bottom: 1px solid #D9D9D9;
    font-family: Mulish;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #BFBEBE;
    border-radius: 0;
}

.name-of-recipe .field-input::placeholder {
    color: #BFBEBE;
}

.name-of-recipe .field-input:focus {
    border-bottom-color: #000;
    color: #000;
}

.description-dish{
    font-family: Mulish;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    position: relative;
    width: 100%;
    border-bottom: none;
}

.description-dish label {
    display: block;
}

.field-textarea{
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 0;
    outline: none;
    resize: none;
    padding: 8px 60px 4px 0;
    background-color: transparent;
    font-family: Mulish;
    font-size: 14px;
    line-height: 20px;
}

.field-textarea::placeholder {
    color: #BDBDBD;
}

.field-textarea:focus{
    border-bottom: 1px solid #000;
}

.description-dish .field-counter {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 12px;
    color: #BDBDBD;
    pointer-events: none;
}

.field-select{
    font-family: Mulish;
    font-weight: 500;
    font-size: 14px;
    color: #BFBEBE;
}

.field-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cooking-time label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cooking-time label .time-input{
    display: flex;
    flex-direction: row;
    width: 164px;
    gap: 12px;
}

.cooking-time .time-input .time-but {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-weight: 500;
    font-size: 14px;
    color: #BFBEBE;
}

.time-input-value{
    text-align: center;
}

.area label{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 330px;
}

.area label h3 {
    font-family: Mulish;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.area label .field-select {
    color: #1A1A1A;
}

.ingredients{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.ingredients span{
    font-family: Mulish;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

.add-ingredients-row select{
    min-width: 330px;
}

.enter-quantity{
    border: none;
    border-bottom: 1px solid #D9D9D9;
    outline: none;
    resize: none;
    padding: 8px 60px 4px 0;
    background-color: transparent;
    font-family: Mulish;
    font-size: 14px;
    line-height: 20px;
}

.btn-secondary{
    width: 220px;
    height: 48px;
    background-color: white;
    color: #050505;
    font-family: Mulish;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-of-ingredients{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    padding: 0;
    list-style: none;
}

.list-of-ingredients li{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    background-color: #fff;
}

.photo-of-ingredients{
    width: 75px;
    height: 75px;
    border-radius: 18px;
    border: 1px solid #BFBEBE;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.photo-of-ingredients img{
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.ingredient-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}

.ingredient-name{
    font-family: Mulish;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #050505;
}

.ingredient-quantity{
    font-family: Mulish;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BFBEBE;
}

.delete-ingredients{
    position: absolute;
    top: 10px;
    right: 18px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}


.recipe-preparation{
    position: relative;
    width: 100%;
}

.recipe-preparation h3{
    font-family: Mulish;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

.recipe-preparation .field-counter{
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 12px;
    color: #BDBDBD;
}

.form-actions{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 32px;
}

.btn-primary{
    background-color: #1A1A1A;
    color: #FFFFFF;
}

@media (min-width: 768px){
    .add-recipe-page-container{
        margin: auto 32px;
        gap: 40px;
    }
    .add-recipe-left-side{
        width: 443px;
    }

    .main-title  {
        font-style: extrabold;
        font-size: 40px;
        line-height: 44px;
    } 
    .subtitle{
        font-size: 14px;
        line-height: 20px;
    }

    .add-recipe-form-right{
        margin-right: 55px;
        gap: 60px;
    }
    .name-of-recipe .field-input{
        font-style:ExtraBold;
        font-size: 24px;
        line-height: 28px;
    }
    .description-dish{
        font-size: 16px;
        line-height: 24px;
    }
    .description-dish .field-counter{
        font-size: 16px;
    }
    .field-row{
        flex-direction: row;
        width: 529px;
    }
    .category{
        width: 315px;
    }
    .add-ingredients{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        margin-bottom: 40px;
    }
    .add-ingredients-row{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }
    .recipe-preparation{
        margin-bottom: 40px;
    }
    .recipe-preparation label{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .recipe-preparation h3{
        font-size: 20px;
        line-height: 24px;
    }
    .recipe-preparation input{
        height: 40px;
    }
    .btn-secondary{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 229px;
        font-size: 16px;
        font-style: ExtraBold;
    }
}

@media (min-width: 1440px){


    .add-recipe-page-container{
        margin: 0;
    }
    .add-recipe-page-content{
        margin: auto 80px;
    }
    .add-recipe-form{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 80px;
    }
    .add-recipe-form-left{
        width: 551px;
    }
    .add-recipe-form-right{
        width: 649px;
        margin:0;
    }

    .subtitle{
        font-size: 16px;
    }

    .name-of-recipe{
        font-size: 24px;
        line-height: 28px;
    }
    .category label { 
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .category label select{
        width: 100%;
    }
    .cooking-time label { 
        gap: 16px;
    }
    .ingredients { 
        gap: 16px;
    }

    .btn-secondary{ 
        height: 56px;
    }
}
