@layer base {
    button {
        @apply border rounded-7.5 uppercase font-bold px-7.5 py-3.5 text-primary cursor-pointer disabled:bg-tertiary disabled:text-white disabled:hover:border-transparent hover:bg-primary hover:text-white hover:border-primary transition duration-300 ease-in-out flex gap-2;
    }
}

@layer components {
    .btn-primary {
        @apply border-primary;
    }

    .btn-secondary {
        @apply bg-primary text-white border-primary hover:bg-secondary hover:text-white;
    }
}