@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-tertiary);
    }
}

@utility container {
    @apply mx-auto px-4 md:px-8 2xl:px-20;
}