:root {
    --swiper-pagination-color: theme('colors.primary');
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: theme('colors.tertiary');
    --swiper-pagination-bullet-size: theme('spacing.4');
    --swiper-pagination-bullet-horizontal-gap: theme('spacing[1.5]');
}

.swiper .swiper-pagination {
    @apply static flex justify-center mt-10;
}