/* Base styles for */
@theme {
  --color-primary: #050505;
  --color-secondary: #1a1a1a;
  --color-tertiary: #bfbebe;
  --color-error-primary: #ae0000;

  --font-sans: 'Mulish', sans-serif;

  --spacing-7_5: 1.875rem; /** 30px */

  --radius-7_5: 1.875rem; /** 30px */

  --radius-3_75: 0.9375rem; /* 15px */

  --breakpoint-2xl: 87.5rem;
}
